#flashs-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#flashs-section > .card-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

#flashs-section .card {
  background-color: rgba(0, 0, 0, 0.518);
  width: 100%;
  display: flex;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  transition: scale 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
#flashs-section .card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.807);
  scale: 1.03;
}
#flashs-section .card:active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.449);
  scale: 1.05;
}

#flashs-section .card:nth-child(even) {
  flex-direction: row-reverse;
}

#flashs-section .card .image {
  width: calc((100%) / 2);
  height: 100%;
  object-position: center;
  object-fit: cover;
}
#flashs-section .card img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.infos-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc((100%) / 2);
  height: 100%;
}
.infos-card .card-hashtag {
  font-family: "Black Ops One", cursive;
  font-size: 24px;
  color: rgb(253, 0, 0);
  font-style: italic;
  word-break: normal;
  text-overflow: ellipsis;
  width: 100%;

  overflow: hidden;

  padding-right: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}
.card-section .infos-card h3 {
  font-style: normal;
  margin-bottom: 0;
  text-transform: capitalize;
}
.card-section .infos-card .description {
  width: 100%;
  font-size: 16px;

  overflow-y: scroll;
  height: calc(100% / 2);
  word-break: normal;
  position: relative;
  white-space: pre-wrap;
}
.box-title {
  width: 100%;
  text-transform: capitalize;
}
.box .box-title p {
  transition: all 0.2 ease-in;
}
.box:hover .box-title p,
.box:active .box-title p {
  color: red;
}

.box-title > p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.infos-card .description::-webkit-scrollbar {
  display: none;
}
/* .infos-card .description::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.112);
  border-radius: 20px;
}
.infos-card .description::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.112);
} */

.box-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.box-section > .box {
  background-color: rgba(0, 0, 0, 0.518);
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  transition: scale 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  width: calc((100% - 80px) / 5);
}
.box-section > .box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.807);
  scale: 1.03;
}
.box-section > .box:active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.449);
  scale: 1.05;
}
.box-section .box img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.box-title {
  padding: 10px;
}

#flashs-section form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#flashs-section form > input {
  width: 80%;
  padding: 10px 5px;
  border: none;
  color: rgb(0, 0, 0);
  border-bottom: rgb(0, 0, 0) solid 1px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 5px 5px 0 0;
  padding-left: 10px;
  transition: all 0.3s ease-in;
  font-size: 16px;
}

#flashs-section form > input:focus {
  background-color: rgba(105, 105, 105, 0.095);
  outline: 0;
}

#flashs-section form > input::placeholder {
  color: rgb(138, 138, 138);
  font-family: sans-serif;
}

#flashs-section form > input[type="submit"] {
  width: 150px;
  color: white;
  border: none;
  transition: all 0.3s ease-in;
  background-color: rgb(1, 1, 1);
  border-radius: 5px;
}

#flashs-section form > input[type="submit"]:hover {
  background-color: red;
  color: white;
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
  #flashs-section {
    gap: 30px;
  }
  #flashs-section > h2 {
    margin-bottom: 0;
  }
  #flashs-section > .card-section {
    gap: 20px;
  }

  #flashs-section .card {
    height: auto;
  }

  #flashs-section .card img {
    aspect-ratio: 1;
    height: 100%;
  }
  .infos-card {
    padding: 20px;
    height: inherit;

    padding: 20px 10px;
  }
  .infos-card .card-hashtag {
    font-size: 20px;
    word-break: normal;
  }

  .box-section {
    gap: 20px;
  }

  .box-section > .box {
    width: calc((100% - 20px) / 2);
  }

  #flashs-section form {
    flex-direction: column;

    gap: 20px;
  }

  #flashs-section form > input {
    width: 100%;
  }

  #flashs-section form > input[type="submit"] {
    width: 100%;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
    background-color: rgb(0, 0, 0);
  }

  #flashs-section form > input[type="submit"]:active {
    background-color: red;
    scale: 1.05;
    color: white;
  }
  .card-section .infos-card .description {
    font-size: 10px;
  }
}
