main {
  padding: 0 0px 50px;
  overflow: hidden;
}
.wrapper {
  width: 1138px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#about-me-section {
  margin-top: 60px;
}
#about-me-section > div {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#about-me-section > div img {
  translate: -50px;
  width: 60%;
  transform: perspective(400px) rotateY(-10deg);
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
.css-fix {
  position: relative;
  white-space: pre-wrap;
  text-align: justify;
  translate: 50px;
  width: 400px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.408);
  padding: 20px;
  border-radius: 10px;
}

#about-me-section span {
  position: absolute;
  color: rgba(245, 3, 3, 0.186);
  font-size: 100px;
}

.end-text-description {
  bottom: -52px;
  right: 0;
}
.start-text-description {
  top: -10px;
  left: 0;
}
.img-aboute-me-little-creen {
  display: none;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }
  #about-me-section > div {
    width: 100%;
    flex-direction: column;
    padding: 5px;
    overflow: hidden;
    gap: 20px;
  }
  #about-me-section > div img {
    margin-top: 30px;
    translate: 0px;
    width: 100%;
    transform: perspective(000px) rotateY(00deg);
  }
  .css-fix {
    translate: 0px;
    width: 90%;
    left: 0;
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
  }

  #about-me-section > div {
    position: relative;
    overflow: inherit;
  }
  .img-aboute-me {
    visibility: hidden;
  }
  #about-me-section .img-aboute-me-little-creen {
    display: block;
    position: absolute;
    top: 0;
    width: 110vw;
  }
}

@media screen and (max-width: 770px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  #about-me-section > h2 {
    margin-bottom: 30px;
  }
  #about-me-section > div {
    width: 100%;
    flex-direction: column;
    padding: 5px;
    overflow: hidden;
    gap: 20px;
  }
  #about-me-section > div img {
    translate: 0px;
    width: 100%;
    transform: perspective(000px) rotateY(00deg);
  }
  .css-fix {
    translate: 0px;
    width: 90%;
    left: 0;
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
  }

  #about-me-section > div {
    position: relative;
    overflow: inherit;
  }
  .img-aboute-me {
    visibility: hidden;
  }
  #about-me-section .img-aboute-me-little-creen {
    display: block;
    position: absolute;
    top: 0;
    width: 110vw;
  }
  #about-me-section span {
    font-size: 100px;
  }

  #about-me-section .end-text-description {
    bottom: -54px;
    right: 0;
  }
  #about-me-section .start-text-description {
    top: -10px;
    left: 0;
  }
}
@media screen and (max-width: 700px) {
  .css-fix {
    margin-top: 80px;
  }
}
