.modal-admin {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.modal-admin a {
  text-decoration: underline;
  transition: all 0.3s ease-in;
  color: black;
}
.modal-admin a:hover {
  color: red;
}
.modal-admin button {
  width: 40%;
  color: rgb(255, 255, 255);
  border: none;
  transition: all 0.3s ease-in;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  padding: 10px;
}

.modal-admin button:hover {
  background-color: red;
  color: white;
}
.modal-admin button:active {
  scale: 1.1;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
}
