[id="contact-section"] h2 {
  margin-bottom: 20px;
}

[id="contact-section"] > div {
  display: flex;
  align-items: center;
  gap: 30px;
}
[id="contact-section"] > div > div {
  flex: 1;
}
[id="contact-section"] div div > img {
  width: 100%;
}
[id="contact-section"] form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
textarea {
  resize: none;
}
[id="contact-section"] form > input,
[id="contact-section"] form > textarea {
  width: 80%;
  padding: 10px 5px;
  border: none;
  color: rgb(0, 0, 0);
  border-bottom: rgb(0, 0, 0) solid 1px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease-in;
  font-size: 16px;
}

[id="contact-section"] form > input:focus,
[id="contact-section"] form > textarea:focus {
  background-color: rgba(105, 105, 105, 0.095);
  outline: 0;
}

[id="contact-section"] form > input::placeholder,
[id="contact-section"] form > textarea::placeholder {
  color: rgb(138, 138, 138);
  font-family: sans-serif;
}

[id="contact-section"] form > input[type="submit"] {
  width: 30%;
  color: white;
  border: none;
  transition: all 0.3s ease-in;
  background-color: rgb(1, 1, 1);
  border-radius: 5px;
}

[id="contact-section"] form > input[type="submit"]:hover {
  background-color: red;
  color: white;
}
[id="contact-section"] form > input[type="submit"]:active {
  scale: 1.1;
}
#contact-section .checkbox P {
  color: black;
}
.message-validation-contac {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.message-validation-contac p {
  color: black;
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
  [id="contact-section"] > div {
    flex-direction: column;
  }

  [id="contact-section"] form > input[type="submit"] {
    transition: all 0.2s ease-in;
  }

  [id="contact-section"] form > input[type="submit"]:active {
    background-color: red;
    color: white;
  }
}
