header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0), black),
    url("../../../src/assets/Images/hero.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
header > div {
  gap: 30px;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
header > div > H1 {
  font-size: 60px;
  text-shadow: 15px 10px 0px rgba(213, 16, 16, 0.603);
}
.hero-logo {
  width: 200px;
  mix-blend-mode: lighten;
}

.login-button {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(138, 138, 138);
  border: none;
  size: 18px;
  position: absolute;
  top: 30px;
  right: 30px;
}

nav {
  align-items: center;
  width: 100%;
  position: sticky;
  padding: 15px;
  top: 0;
  z-index: 2;
  background-color: black;
  border-bottom: solid 2px white;
}
nav > ul {
  display: flex;
  justify-content: space-between;
}

nav > ul > li {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  padding: 20px;
}

nav button {
  color: white;

  background-color: black;
  border: none;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

nav a,
nav button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  transition: all 0.3s ease-in;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

nav a:hover,
nav button:hover {
  color: rgb(225, 18, 18);
  scale: 1.1;
}
.small-screen-menu,
.small-screen-btn-menu {
  display: none;
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
  .small-screen-menu,
  .small-screen-btn-menu {
    display: block;
  }
  .small-screen-btn-menu {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 25px;
    position: fixed;
    border: none;
    top: 20px;
    right: 20px;
    transition: all 0.1s ease-out;
    z-index: 3;
  }

  .small-screen-menu {
    position: fixed;
    top: 0;
    padding-top: 80px;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.441), black),
      url("../../assets/Images/image14.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
  }
  .small-screen-menu ul {
    flex-direction: column;
    gap: 30px;
  }
  .small-screen-menu ul li button,
  .small-screen-menu ul li a {
    font-size: 30px;
    transition: all 0.1s ease-out;
  }
  .small-screen-menu ul li button:active,
  .small-screen-menu ul li a:active {
    color: rgb(225, 18, 18);
    scale: 1.3;
  }
  .small-screen-btn-menu:focus {
    outline: none;
  }

  .small-screen-btn-menu:active {
    transform: rotate(180deg) scale(1.3);
  }
  .large-screen-menu {
    display: none;
  }
  .login-button {
    display: none;
  }
  .hero-logo {
    width: 100px;
    mix-blend-mode: lighten;
  }
  header {
    width: 100%;
    height: 200px;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .login-btn-small-screen {
    color: red;
  }
  header > div {
    margin-left: 5%;
    gap: 10px;
  }
  header > div > H1 {
    font-size: 30px;
  }
}
