.message-validation-project {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.message-validation-project p {
  margin: 20px;
  color: black;
}
