.top-page-title {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black),
    url("../../assets/Images/image1.jpg");
  background-blend-mode: darken;
  background-size: 300px;
  background-position: -70px;
  background-repeat: no-repeat;
  height: 150px;
  display: flex;
  align-items: center;

  padding-left: 100px;
  border-bottom: 1px solid white;
  position: sticky;
  top: 0;
  z-index: 3;
}

.top-page-title h2 {
  padding-top: 10px;
  font-size: 50px;
  text-shadow: 15px 10px 0px rgba(213, 16, 16, 0.603);
}

.tattoo-page nav {
  display: flex;
  border-bottom: none;
  padding: 20px;
  height: 100%;
}
.tattoo-page > section {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.tattoo-page > section > div > div {
  flex: 1;
}
.tattoo-page .flash-bloc {
  background-color: rgba(145, 145, 145, 0.527);
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
.flash-bloc .info-flash {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}

.flash-bloc .info-flash .description {
  word-break: normal;
  word-wrap: break-word;
  position: relative;
  white-space: pre-wrap;
  height: 50%;
  overflow-y: scroll;
}

.flash-bloc .one-picture {
  display: flex;
  height: 100%;
}
.flash-bloc img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-flash .hashtag {
  font-family: "Black Ops One", cursive;
  word-break: normal;
  font-size: 24px;
  color: red;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;
  overflow: hidden;
  width: 100%;
}
.flash-bloc .info-flash h3 {
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: capitalize;
}

.tattoo-page .book-form {
  background-color: rgba(255, 255, 255, 0.118);
  border: white 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
textarea {
  resize: none;
}
.tattoo-page .book-form > input,
.tattoo-page .book-form > textarea {
  width: 80%;
  padding: 10px 5px;
  border: none;
  color: rgb(0, 0, 0);
  border-bottom: rgb(0, 0, 0) solid 1px;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 5px 5px 0 0;
  padding-left: 10px;
  transition: all 0.3s ease-in;
  font-size: 16px;
}

.tattoo-page .book-form > input:focus,
.tattoo-page .book-form > textarea:focus {
  background-color: rgba(105, 105, 105, 0.095);
  outline: 0;
}

.tattoo-page .book-form > input::placeholder,
.tattoo-page .book-form > textarea::placeholder {
  color: rgb(138, 138, 138);
  font-family: sans-serif;
}

.tattoo-page .book-form > input[type="submit"] {
  width: 30%;
  color: white;
  border: none;
  transition: all 0.3s ease-in;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

.tattoo-page .book-form > input[type="submit"]:hover {
  background-color: red;
  color: white;
}

.tattoo-page .checkbox p {
  color: black;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 10px;
}

.tattoo-page .card-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.tattoo-page .card-block > div {
  flex-direction: column;
}
.tattoo-page .card {
  background-color: rgba(0, 0, 0, 0.518);
  width: 100%;
  display: flex;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  transition: scale 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.tattoo-page .card > div:first-child {
  width: calc((100% + 5px) / 2);
}
.tattoo-page .card > div:last-child {
  width: calc((100%) / 2);
}

.tattoo-page .card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.807);
  scale: 1.03;
}
.tattoo-page .card:active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.449);
  scale: 1.05;
}

.tattoo-page .card:nth-child(even) {
  flex-direction: row-reverse;
}

.tattoo-page .card img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.flash-bloc .info-flash .description::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.flash-bloc .info-flash .description::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.112);
  border-radius: 20px;
}
.flash-bloc .info-flash .description::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.112);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
  .tattoo-page > section {
    gap: 50px;
  }
  .top-page-title {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgb(255, 255, 255)
      ),
      url("../../assets/Images/image1.jpg");
    background-blend-mode: inherit;

    background-position: -70px;

    padding-left: 40%;
  }

  .tattoo-page .top-page-title h2 {
    color: rgb(255, 0, 0);
    padding-top: 10px;
    font-size: 50px;
    text-shadow: 15px 10px 0px rgba(0, 0, 0, 0.338);
  }

  .tattoo-page .small-screen-menu,
  .tattoo-page .small-screen-btn-menu {
    display: block;
  }
  .tattoo-page .small-screen-btn-menu {
    background-color: rgba(0, 0, 0, 0);
    color: red;
    font-size: 25px;
    position: fixed;
    border: none;
    top: 20px;
    right: 20px;
    transition: all 0.1s ease-out;
    z-index: 3;
  }
  .tattoo-page .small-screen-menu {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 80px;
    width: 100vw;
    height: 120vh;
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.441), black),
      linear-gradient(to right, rgba(0, 0, 0, 0.441), rgb(255, 255, 255)),
      url("../../assets/Images/image14.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
  }

  .tattoo-page .small-screen-menu button,
  .tattoo-page .small-screen-menu a {
    font-size: 30px;
    transition: all 0.2s ease-out;
  }
  .tattoo-page .small-screen-menu button:active,
  .tattoo-page .small-screen-menu a:active {
    color: rgb(225, 18, 18);
    scale: 1.3;
  }
  .tattoo-page .small-screen-btn-menu:focus {
    outline: none;
  }

  .tattoo-page .small-screen-btn-menu:active {
    transform: rotate(180deg) scale(1.3);
  }
  .tattoo-page .large-screen-menu {
    display: none;
  }

  .tattoo-page .flash-bloc {
    flex-direction: column;
    height: 500px;
  }
  .tattoo-page > section > div > div {
  }
  .flash-bloc .info-flash {
    gap: 20px;
    padding: 20px 20px 10px 20px;
    height: calc(100% / 2);
  }

  .flash-bloc .one-picture {
    height: calc(100% / 2);
  }

  .info-flash .hashtag {
    font-size: 20px;
  }
  .flash-bloc .info-flash h3 {
    font-size: 25px;
    font-style: normal;
  }

  .tattoo-page .book-form {
    width: 100%;
  }

  .tattoo-page .book-form > input,
  .tattoo-page .book-form > textarea {
    width: 90%;
    padding: 10px 10px;

    font-size: 14px;
  }

  .tattoo-page .book-form > input[type="submit"] {
    width: 40%;

    transition: all 0.1s ease-in;
  }

  .tattoo-page .book-form > input[type="submit"]:active {
    background-color: red;
    color: white;
  }

  .tattoo-page .card-section {
    gap: 30px;
  }
  .card-section .card {
    height: inherit;
  }

  .card-section .card img {
    aspect-ratio: 1;
    height: 100%;
  }

  .top-page-title {
    position: inherit;
  }
}
